@import "./styles/variables.css";
@import "./styles/typography.css";

:root {
  font-family: var(--font-body);
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: var(--color-body);
  background-color: var(--color-background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Global container class with 120px margins */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: 600;
  color: var(--color-heading);
  line-height: var(--heading-line-height);
}

h1 {
  font-size: var(--h1-font-size);
}

h2 {
  font-size: var(--h2-font-size);
}

h3 {
  font-size: var(--h3-font-size);
}

h4 {
  font-size: var(--h4-font-size);
}

p,
li,
span,
a,
div {
  font-size: var(--body-font-size);
  line-height: var(--body-line-height);
}
